<div class="col-xs-12 padding-search">
    <div class="row searchtext" ng-class="{'searchtext-focus': focus}">
        <keyword removefn="removeKeyWord(keyword)" ng-repeat="keywordFilter in filterArray track by $index" remove="true" tag="{{keywordFilter}}"></keyword>
        <span class="input-group searchinputfield" id="searchinput">
             <input class="md-input" type="text" placeholder="{{placeholder}}" ng-keyup="onKeyPress($event)"
              ng-model="textSearchInput.value" ng-blur="focus=false" ng-focus="focus=true">
            <span ng-click="doSearch()" class="input-group-addon border-search">
                <i class="glyphicon glyphicon-search"></i>
            </span>
        </span>
    </div>
</div>
<div class="col-xs-12 padding-search" style="padding-top: 10px; padding-bottom: 6px;">
    <div class="btn-group pull-left">
        <label class="btn btn-default btn-xs btn-tag" ng-class="{active: tagSwitch.value}">
            <input type="checkbox" autocomplete="off" ng-model="tagSwitch.value" ng-change="toggleSuggestKeywords()" ng-disabled="tagSwitch.disable"> Suggestions
        </label>
    </div>
    <keyword  ng-repeat="keyword in suggestedKeywords" class="keyword-min"
        ng-click="addSuggestedKeywordToSearchInput(keyword.value)" remove="false" tag="{{keyword.value}}"></keyword>
</div>
