{
  "env": {
    "node": true,
    "jasmine": true
  },
  "globals": {
    "angular": true,
    "inject": true
  },
  "rules": {
    "camelcase": 2,
    "curly": 2,
    "quotes": [2, "single"],
    "semi": [2, "always"],
    "max-len": 0
  }
}
